<% provide(:title, @user.name) %>
<aside class="span4">
  <section>
    <div class="gravatar">
      <%= gravatar_for(@user) %>
    </div>
    <h1>
      <%= @user.name %>
    </h1>
  </section>
</aside>
<div class="span9">
  
</div>