@import "bootstrap";

html {
  overflow-y: scroll;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 10px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .controls;
  @extend .error;
}

#page-canvas {
  min-height: 20px;
  padding: 60px;
  margin-bottom: 20px;
  border: 1px solid darken($wellBackground, 7%);
  @include border-radius($baseBorderRadius);
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}